@charset "UTF-8";

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
  }

* {
    font-family: "montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #fff;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--body-background);
}

main {
    background-color: var(--body-background);
    background-image: url(../imagens/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 20px;
}

.red {
    color: var(--color-logo);
}

header {
    display: flex;
    justify-content: space-around;
}

.material-symbols-outlined {
    color: #fff;
}

header > picture > img {
    width: 150px;
}

menu {
    display: none;
}

#main1{
    margin: 10px;
    padding: 10px;

}

h1 {
    margin: 10px;
}

#main1 > p {
    font-size: 12px;
    margin: 10px;
}

picture{
    display: flex;
    justify-content: space-between;
}

.badge {
    width: 90px;
}

#galeria > picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#galeria > picture > img {
    width: 150px;
    height: 100px;
}

#main2 {
    display: flex;
    flex-wrap: wrap;
}

#main2 > .numeros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 20%;
    gap: 20px;
    font-weight: bold;
}

.tex {
    color: var(--subtitle-color);
    font-size: 12px;
    font-weight: 400;
}

#main2 > .textos {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    font-size: 12px;
}

.banner > img {
    width: 100%;
}

#main3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px; 
    font-weight: bold;
}

#main3, #main4 > h2 {
    margin: 20px;
}

#main3 > article > .red, .nome {
    display: inline;
    margin: 55px;
    font-size: 12px;
    font-weight: normal;
}

#main3 > article > .nome {
    color: var(--subtitle-color);
}

#main4 {
    text-align: center;
}

#main4 > article {
    display: flex;
    background-color: var(--card-color);
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: var(--card-color);
    padding: 10px;
}

footer > section > img {
    width: 150px;
}

#menus {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.menu2 {
    display: flex;
    flex-direction: column;
}

.menu2 > p {
    font-weight: bold;
}

.menu2 > a {
    text-decoration: none;
    color: #5a5757;
}

#middle-footer > article > input {
    background-color: black;
    color: #5a5757;
    border: none;
    height: 30px;
}

#bottom-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#bottom-footer > article > p {
    color: var(--subtitle-color);
    font-size: 14px;
}

#bottom-footer > article > img {
    width: 20px;
}


